.form-control::placeholder {
    font-style: italic;
}

.type-admin {
    text-align: center;
    background-color: #4DB848!important;
    color: white !important;
    width: 50px !important;
    padding: 10px 20px !important;
    border-radius: 50px !important;
}

.type-trainee {
    text-align: center;
    background-color: #2D3748 !important;
    color: white !important;
    width: 50px !important;
    padding: 10px 20px !important;
    border-radius: 50px !important;
}

.display-none{
    display: none;
}

.status-trainer {
    color: #ffffff;
    font-size: 14px;
    background-color: #2D3748;
    border-radius: 14px;
    padding: 1px 10px;
}

.status-admin {
    color: #ffffff;
    font-size: 14px;
    background-color: #4DB848;
    border-radius: 14px;
    padding: 1px 10px;
}

table tr td {
    vertical-align: middle;
}

