<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Syllabus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/class-create.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/class.css}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
</head>

<body>
<div id="header" th:insert="header.html"></div>
<div id="body" class="body">
    <div id="menu" class="menu"></div>
    <div id="create-content" class="content">
        <div class="row mb-2">
            <div class="col title">
                Class
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <label for="input-name-class">
                    Class name
                </label>
                <div class="input-group">
                    <input class="form-control" id="input-name-class" placeholder="Type class name">
                </div>
            </div>
            <div class="col-3 group-btn">
                <button type="button" class="btn btn-main" id="btn-create-class">
                    Create
                </button>
            </div>
        </div>
    </div>
    <div id="update-content" class="content">
        <div class="row mb-2">
            <div class="col-12 group-title">
                <div class="title">
                    <div>
                        Class
                    </div>
                    <div>
                        <label id="label-name-class" class="name" th:text="${aClass.name}"></label>
                        <label th:class="${'status-' + aClass.status}" th:text="${aClass.status}"></label>
                    </div>
                    <div>
                        <label class="code"></label>
                    </div>
                    <hr>
                    <div>
                        <label class="duration me-2">0 days</label>
                        <label class="duration">0 hours</label>
                    </div>
                </div>
                <div class="group-btn-three-dot">
                    <button class="btn btn-three-dot dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <h4>...</h4>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="btn-update-class" class="dropdown-item">
                                <img th:src="@{/icon/document-manage/create.png}" alt="">
                                <label>Edit class</label>
                            </a>
                        </li>
                        <li>
                            <a id="btn-copy-class" class="dropdown-item">
                                <img th:src="@{/icon/document-manage/copy.png}" alt="">
                                <label>Duplicate class</label>
                            </a>
                        </li>
                        <li>
                            <a id="btn-delete-class" class="dropdown-item">
                                <img th:src="@{/icon/document-manage/delete_forever.png}" alt="">
                                <label>Delete class</label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                <!--                General-->
                <div class="mb-3">
                    <div class="header-form" data-bs-toggle="collapse" data-bs-target="#general">
                        <div>
                            <img th:src="@{/icon/navigation-menu/calendar-today-white.png}" alt="">
                            <label>General</label>
                        </div>
                        <div>
                            <img th:src="@{/icon/action/arrow_drop_down_circle-white.png}" alt="">
                        </div>
                    </div>
                    <div class="collapse body-form group-general" id="general">
                        <div class="row-general">
                            <div>
                                <img th:src="@{/icon/other/alarm.png}" alt="">
                                <label>Time</label>
                            </div>
                            <div>
                                <input id="timePicker" class="form-control"/>
                            </div>
                        </div>
                        <div class="row-general">
                            <div>
                                <img th:src="@{/icon/other/home_work-gray.png}" alt="">
                                <label>Location</label>
                            </div>
                            <div>
                                <select id="select-location" class="form-control">
                                    <option value="VietNam">VietNam</option>
                                    <option value="USA">USA</option>
                                    <option value="USA1">USA1</option>
                                    <option value="USA2">USA2</option>
                                    <option value="USA3">USA3</option>
                                </select>
                            </div>
                        </div>
                        <div class="row-general">
                            <div>
                                <img th:src="@{/icon/concept/lecture-gray.png}" alt="">
                                <label>Trainer</label>
                            </div>
                            <div>
                                <select id="select-trainer" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="row-general">
                            <div>
                                <img th:src="@{/icon/indicator/grade-blue.png}" alt="">
                                <label>Admin</label>
                            </div>
                            <div>
                                <select id="select-admin" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="row-general">
                            <div>
                                <img th:src="@{/icon/indicator/supplier.png}" alt="">
                                <label>FSU</label>
                            </div>
                            <div class="flex-md-wrap">
                                <div class="col-12 mb-1">
                                    <select id="select-fsu" class="form-control">
                                    </select>
                                </div>
                                <div  class="col-12">
                                    <select id="select-contact-fsu" class="form-control">
                                    </select>
                                </div>
                            </div>

                        </div>
                        <hr>
                        <div class="row-general">
                            <div>
                                <label>Created</label>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="row-general">
                            <div>
                                <label>Review</label>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="row-general">
                            <div>
                                <label>Approve</label>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                Attendee-->
                <div>
                    <div class="header-form" data-bs-toggle="collapse" data-bs-target="#attendee">
                        <div>
                            <img th:src="@{/icon/indicator/grade-white.png}" alt="">
                            <label class="me-2">Attendee</label>
                            <select id="select-attendee" class="form-control w-50">
                                <option value="VietNam">VietNam</option>
                                <option value="USA">USA</option>
                                <option value="USA1">USA1</option>
                                <option value="USA2">USA2</option>
                            </select>
                        </div>
                        <div>
                            <img th:src="@{/icon/action/arrow_drop_down_circle-white.png}" alt="">
                        </div>
                    </div>
                    <div class="collapse body-form group-attendee" id="attendee">
                        <div>
                            <div>Planned</div>
                            <div>
                                <input id="input-planned" class="form-control"/>
                            </div>
                        </div>
                        <div>
                            <div>Accepted</div>
                            <div>
                                <input id="input-accepted" class="form-control"/>
                            </div>
                        </div>
                        <div>
                            <div>Actual</div>
                            <div>
                                <input id="input-actual" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            Time frame-->
            <div class="col-8">
                <div class="header-form" data-bs-toggle="collapse" data-bs-target="#timeFrame">
                    <div>
                        <img th:src="@{/icon/navigation-menu/calendar-today-white.png}" alt="">
                        <label>Time frame</label>
                    </div>
                    <div>
                        <label id="label-date-range-selected" class="me-3"></label>
                        <img th:src="@{/icon/action/arrow_drop_down_circle-white.png}" alt="">
                    </div>
                </div>
                <div class="collapse body-form" id="timeFrame">
                    <div>
                        <input id="timeFrameDaterangepicker" type="hidden"/>
                        <div id="timeFrameDaterangepicker-container" class="embedded-daterangepicker"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--        Tabs-->
        <div class="row">
            <div class="col-12">
                <div class="group-tab">
                    <div class="tab active">
                        Training Program
                    </div>
                    <div class="tab">
                        Attendee list
                    </div>
                    <div class="tab">
                        Budget
                    </div>
                    <div class="tab">
                        Others
                    </div>
                </div>
            </div>
        </div>
        <!--        Tab Training Program body-->
        <div class="row tab-body active" id="tab-body-1">
            <div class="col-12">
                <div class="group-tab-body">
                    <div class="header-group">
                        <div id="group-filter-training-program" class="group-filter-training-program">
                            <label>Training Program name </label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <img th:src="@{/icon/document-manage/search.png}" alt="">
                                </span>
                                <input class="form-control" id="input-filter-training-program"/>
                            </div>
                        </div>
                        <div id="info-training-program" class="info-training-program">
                            <div>
                                <label>DevOps Foundation</label>
                                <button class="btn btn-secondary ms-3 btn-sm">
                                    <img th:src="@{/icon/document-manage/create.png}" alt="">
                                </button>
                            </div>
                            <div>
                                <div class="pe-3 me-3">
                                    <label class="duration me-2" th:text="${aClass.days} + ' days'"></label>
                                    <label class="duration" th:text="${aClass.hours} + ' hours'"></label>
                                </div>
                                <div>
                                    <label>Modified on 23/07/2022 by Warrior Tran</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-group">
                        <div>
                            <div>
                                <img th:src="@{/icon/indicator/supplier.png}" alt="">
                            </div>
                            <div>
                                <div class="pe-3 me-3">
                                    <label class="name">Linux</label>
                                    <label class="status-active">Active</label>
                                </div>
                                <div>
                                    <label>LIN v2.0</label>
                                    <label>4 days (12 hours)</label>
                                    <label>on 23/07/2022 by Johny Deep</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <img th:src="@{/icon/indicator/supplier.png}" alt="">
                            </div>
                            <div>
                                <div class="pe-3 me-3">
                                    <label class="name">AWS Basic</label>
                                    <label class="status-active">Active</label>
                                </div>
                                <div>
                                    <label>AWB v1.0</label>
                                    <label>7 days (21 hours)</label>
                                    <label>on 23/07/2022 by Warrior Tran</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        Tab Attendee list body-->
        <div class="row tab-body" id="tab-body-2">
            <div class="col-12">
                <div class="group-tab-body">
                    <div class="header-group">
                        Nothing
                    </div>
                    <div class="body-group">

                    </div>
                </div>
            </div>
        </div>
        <!--        Tab Budget body-->
        <div class="row tab-body" id="tab-body-3">
            <div class="col-12">
                <div class="group-tab-body">
                    <div class="header-group">
                        Nothing
                    </div>
                    <div class="body-group">

                    </div>
                </div>
            </div>
        </div>
        <!--        Tab Others body-->
        <div class="row tab-body" id="tab-body-4">
            <div class="col-12">
                <div class="group-tab-body">
                    <div class="header-group">
                        Nothing
                    </div>
                    <div class="body-group">

                    </div>
                </div>
            </div>
        </div>
        <!--        group btn footer-->
        <div class="row mt-3">
            <div class="col-6 d-flex justify-content-start">
                <button id="btn-back" class="btn btn-main">Back</button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button id="btn-cancel" class="btn btn-outline-danger me-2">Cancel</button>
                <button id="btn-save-as-draft" class="btn btn-main me-2">Save as draft</button>
                <button id="btn-next" class="btn btn-main">Next</button>
            </div>
        </div>
    </div>
</div>
<div id="footer" th:insert="footer.html"></div>
</body>

</html>