<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/login.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
<div id="header" th:insert="header.html"></div>
<div id="body" class="body">
    <img th:src="@{/img/login-background.png}" alt="logo" class="back-login">
    <div id="form-login" class="form-signin">
        <h2 class="form-heading">FPT Fresh Academy</h2>
        <h2 class="form-heading">Training Management</h2>
        <div id="contact">
            <label>If you don’t have the account, please contact</label>
            <a href="https://fsoft-academy.edu.vn/">FA.HCM@fsoft.com.vn</a>
        </div>

        <div class="form-group">
            <input id="username-input" type="text" value="vinh18@gmail.com"
                   class="form-control mb-2" placeholder="Enter Email" autofocus/>
            <input id="password-input" type="password" value="123123" class="form-control"
                   placeholder="Password"/>


            <button class="btn w-100 justify-content-center btn-main" onclick="login()">
                Sign In
            </button>
        </div>
    </div>
</div>
<div id="footer" th:insert="footer.html"></div>
</body>

</html>