<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/login.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div id="header" th:insert="header.html"></div>
<div id="body" class="body">
    <form method="POST" th:object="${registerForm}" class="form-signin" th:action="@{register}">
        <h2 class="form-signin-heading">Create your account</h2>
        <div class="form-group">
            <input type="text" th:field="*{username}" class="form-control"
                   placeholder="Username" autofocus />
            <span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
        </div>

        <div class="form-group">
            <input type="password" th:field="*{password}" class="form-control"
                   placeholder="Password" />
            <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
        </div>

        <div class="form-group">
            <input type="password" th:field="*{passwordConfirm}"
                   class="form-control" placeholder="Confirm your password"/>
            <span class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password Confirm Error</span>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>
<div id="footer" th:insert="footer.html"></div>
</body>
</html>