<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Training Program</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/syllabus.css}">
</head>

<body>
<div id="header" th:insert="header.html"></div>
<div id="body" class="body">
    <div id="menu" class="menu"></div>
    <div class="content">
        <div class="row mb-2">
            <div class="col title">
                Training Program
            </div>
        </div>
        <form th:action="@{/trainingProgram/search}" method="get">
            <div class="row mb-2">
                <!-- filter -->
                <div class="col-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <img th:src="@{/icon/document-manage/search.png}" alt="">
                        </span>
                        <input class="form-control" id="name" name="name" placeholder="Search text...">
                    </div>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-main" id="btn-filter-class">
                        <img th:src="@{/icon/action/filter_list-white.png}" alt="">
                        Filter
                    </button>
                </div>
                <div class="col-6 group-btn-right">
                    <button type="button" class="btn btn-orange" id="btn-import-training-program">
                        <img th:src="@{/icon/document-manage/upload-white.png}" alt="">
                        Import
                    </button>
                    <a th:href="@{/trainingProgram/add}" class="btn btn-main">
                        <img th:src="@{/icon/action/add-white.png}" alt="">
                        Add Program
                    </a>
                </div>
            </div>
        </form>

        <div class="row mb-2">
            <div class="col d-flex">
                <div class="group-filter d-flex me-1" th:each="tag : ${listTagSearch}">
                    <span class="item-filter">
                        <span class="me-2" th:text="${tag}"></span>
                        <a class="btn-x" th:href="@{/trainingProgram/deleteTagSearch/{tag}(tag=${tag})}">X</a>
                    </span>
                </div>
            </div>
        </div>

        <!-- table -->
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead class="header-table">
                    <tr>
                        <th class="sortable" data-sort="createdBy">Program code<a
                                th:href="@{/trainingProgram/list(sortField='code', dir=${dir.equals('asc') && sortField == 'code'} ? 'desc' : 'asc')}"><img
                                th:src="@{/icon/action/sort-white.png}" alt=""></a></th>
                        <th class="sortable" data-sort="name">Program name<a
                                th:href="@{/trainingProgram/list(sortField='name', dir=${dir.equals('asc') && sortField == 'name'} ? 'desc' : 'asc')}"><img
                                th:src="@{/icon/action/sort-white.png}" alt=""></a></th>
                        <th class="sortable" data-sort="createdDate">Created on<a
                                th:href="@{/trainingProgram/list(sortField='createdDate', dir=${dir.equals('asc') && sortField == 'createdDate'} ? 'desc' : 'asc')}"><img
                                th:src="@{/icon/action/sort-white.png}" alt=""></a></th>
                        <th class="sortable" data-sort="createdBy">Created by<a
                                th:href="@{/trainingProgram/list(sortField='CreatedBy', dir=${dir.equals('asc') && sortField == 'CreatedBy'} ? 'desc' : 'asc')}"><img
                                th:src="@{/icon/action/sort-white.png}" alt=""></a></th>
                        <th class="sortable" data-sort="duration">Duration<a
                                th:href="@{/trainingProgram/list(sortField='duration', dir=${dir.equals('asc') && sortField == 'duration'} ? 'desc' : 'asc')}"><img
                                th:src="@{/icon/action/sort-white.png}" alt=""></a></th>
                        <th class="sortable" data-sort="status">Status<a
                                th:href="@{/trainingProgram/list(sortField='Status', dir=${dir.equals('asc') && sortField == 'Status'} ? 'desc' : 'asc')}"><img
                                th:src="@{/icon/action/sort-white.png}" alt=""></a></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" trainingProgram, a : ${list}">

                        <td th:text="${trainingProgram.code}"></td>
                        <td>
                            <a th:href="@{/trainingProgram/getDetailTrainingProgram/{id}(id=${trainingProgram.code})}"
                               th:text="${trainingProgram.name}" style="color: black; text-decoration: none"></a></td>
                        <td th:text="${trainingProgram.createdDate}"></td>
                        <td th:text="${trainingProgram.createdBy}"></td>
                        <td th:text="${trainingProgram.duration}"></td>
                        <td th:text="${trainingProgram.status}"></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-three-dot dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown"
                                        data-bs-auto-close="outside" aria-expanded="false">
                                    <img th:src="@{/icon/action/more_horizontal.png}" alt="First Page">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <a class="dropdown-item">
                                        Edit Program
                                    </a>
                                    <a class="dropdown-item"
                                       th:href="@{/trainingProgram/duplicate/{id}(id=${trainingProgram.code})}"
                                       onclick="return confirm('Are you sure you want to duplicate this Content?');">
                                        Duplicate Program
                                    </a>
                                    <a class="dropdown-item"
                                       th:href="@{/trainingProgram/deActive/{id}(id=${trainingProgram.code})}"
                                       onclick="return confirm('Are you sure you want to deactivate this Content?');">
                                        De-Active Program
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                       th:href="@{/trainingProgram/delete/{id}(id=${trainingProgram.code})}"
                                       onclick="return confirm('Are you sure you want to delete this Content?');">
                                        Delete Program
                                    </a>
                                </div>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Button trigger modal -->

        <div class="row">

            <div class="col-12">
                <div class="group-pagging">
                    <a class="item-pagging" th:href="@{/trainingProgram/list(page=0, size=${pageSize})}">
                        <img th:src="@{/icon/navigator/first_page.png}" alt="First Page">
                    </a>
                    <a class="item-pagging"
                       th:href="@{/trainingProgram/list(page=${currentPage > 0 ? currentPage - 1 : 0}, size=${pageSize}, sortField=${sortField}, dir=${dir})}">
                        <img th:src="@{/icon/navigator/arrow_back_ios.png}" alt="Previous Page">

                        <!--                            <a th:href="@{/syllabus/list(page=${currentPage > 0 ? currentPage - 1 : 0}, size=${pageSize}, sortField=${sortField}, dir=${dir})}">-->
                    </a>
                    <div class="item-pagging" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}">
                        <a class="item-pagging number" style="text-decoration: none;color: white"
                           th:href="@{/trainingProgram/list(page=${pageNum}, size=${pageSize}, sortField=${sortField}, dir=${dir})}"
                           th:classappend="${currentPage == pageNum} ? 'active' : ''"
                           th:text="${pageNum + 1}"></a>
                    </div>
                    <a class="item-pagging"
                       th:href="@{/trainingProgram/list(page=${currentPage < totalPages - 1 ? currentPage + 1 : totalPages - 1}, size=${pageSize}, sortField=${sortField}, dir=${dir})}">
                        <img th:src="@{/icon/navigator/arrow_forward_ios.png}" alt="Next Page">
                    </a>
                    <a class="item-pagging"
                       th:href="@{/trainingProgram/list(page=${totalPages - 1}, size=${pageSize}, sortField=${sortField}, dir=${dir})}">
                        <img th:src="@{/icon/navigator/last_page.png}" alt="Last Page">
                    </a>

                </div>
                <div class="group-pagging">

                    <div class="item-per-page ">
                        Rows per page:
                        <select class="form-control" name="item-per-page" id="item-per-page">
                            <option value="">10</option>
                            <option value="">20</option>
                            <option value="">30</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="footer" th:insert="footer.html"></div>
</body>
</html>