<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Syllabus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/program-create.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/program.css}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
</head>

<body>
<div id="header" th:insert="header.html"></div>
<div id="body" class="body">
    <div id="menu" class="menu"></div>
    <div id="create-content" class="content">
        <div class="row mb-2">
            <div class="col title">
                Training Program
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <label for="input-name-program">
                    Program name
                </label>
                <div class="input-group">
                    <input class="form-control" id="input-name-program" placeholder="Type program name">
                </div>
            </div>
            <div class="col-3 group-btn">
                <button type="button" class="btn btn-main" id="btn-create-program">
                    Create
                </button>
            </div>
        </div>
    </div>
    <div id="update-content" class="content">
        <div class="row mb-2">
            <div class="col-12 group-title">
                <div class="title">
                    <div>
                        Class
                    </div>
                    <div>
                        <label id="label-name-program" class="name"></label>
                        <label class="status-Inactive">Inactive</label>
                    </div>
                    <div>
                        <label class="code"></label>
                    </div>
                    <hr>
                    <div>
                        <label class="duration me-2">0 days</label>
                        <label class="duration">(0 hours)</label>
                    </div>
                    <div>
                        <label class="small-text">Modified on 23/07/2022 by Warrior Tran</label>
                    </div>
                </div>
                <div class="group-btn-three-dot">
                    <button class="btn btn-three-dot dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <h4>...</h4>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="btn-update-class" class="dropdown-item">
                                <img th:src="@{/icon/document-manage/create.png}" alt="">
                                <label>Edit program</label>
                            </a>
                        </li>
                        <li>
                            <a id="btn-copy-class" class="dropdown-item">
                                <img th:src="@{/icon/document-manage/copy.png}" alt="">
                                <label>Duplicate program</label>
                            </a>
                        </li>
                        <li>
                            <a id="btn-delete-class" class="dropdown-item">
                                <img th:src="@{/icon/document-manage/delete_forever.png}" alt="">
                                <label>Delete program</label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div class="col-8">
                    <label for="select-syllabus" class="me-2" style="white-space: nowrap; margin: auto">
                        Content
                    </label>
                    <div id="group-syllabus" class="group-syllabus">
<!--&lt;!&ndash;                        TO DO&ndash;&gt;-->
<!--                        <div class="item-syllabus">-->
<!--                            <div class="name-syllabus d-flex justify-content-between">-->
<!--                                <div>-->
<!--                                    <label>Linux</label>-->
<!--                                    <label class="status-Inactive">Inactive</label>-->
<!--                                </div>-->
<!--                                <div>X</div>-->
<!--                            </div>-->
<!--                            <div class="info-syllabus">-->
<!--                                <label class="me-2">LIN v2.0</label>|-->
<!--                                <label class="me-2 mx-2">4 days (12 hours)</label>|-->
<!--                                <label class="mx-2">Modified on 23/07/2022 by Johny Deep</label>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div>
                <div class="col-5 d-flex align-content-lg-center group-autocomplete">
                    <label for="select-syllabus" class="me-2" style="white-space: nowrap; margin: auto">
                        Select syllabus
                    </label>
                    <div class="input-group">
                        <input id="select-syllabus" class="form-control w-100"></input>
                    </div>
                    <div id="list-autocomplete" class="list-autocomplete">
                    </div>
                </div>
            </div>
        </div>

        <!--        group btn footer-->
        <div class="row mt-3">
            <div class="col-6 d-flex justify-content-start">
                <button id="btn-back" class="btn btn-main">Back</button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button id="btn-cancel" class="btn btn-outline-danger me-2">Cancel</button>
                <button id="btn-save" class="btn btn-main me-2">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="footer" th:insert="footer.html"></div>
</body>

</html>