<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Training Program</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add Bootstrap JavaScript dependencies -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <!-- Add your custom JavaScript files -->
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/syllabus-list.js}"></script>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Add custom CSS files -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/syllabus.css}">
</head>

<body>
<div id="header" th:insert="header.html"></div>
<div id="body" class="body">
    <div id="menu" class="menu"></div>
    <div class="content container">
        <div class="row mb-2">
            <div class="col-12 title">
                <h2>Training Program</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Syllabus List</h3>
                <div th:each="syllabus : ${sylabusList}" class="card mb-3">
                    <div class="card-body">
                        <a th:text="${syllabus.topicName}" th:href="@{/trainingProgram/getAllTrainingUnit/{code}(code=${syllabus.topicCode})}" class="card-title"></a>
                        <p class="card-text"><strong>Topic Code:</strong> <span th:text="${syllabus.topicCode}"></span></p>
                        <p class="card-text"><strong>Created Date:</strong> <span th:text="${syllabus.createdDate}"></span></p>
                        <p class="card-text"><strong>Created By:</strong> <span th:text="${syllabus.createdBy}"></span></p>
                        <p class="card-text"><strong>Status:</strong> <span th:text="${syllabus.status}"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Class List</h3>
                <div th:each="classes : ${classList}" class="card mb-3">
                    <div class="card-body">
                        <p class="card-text"><strong>Name:</strong> <span th:text="${classes.name}"></span></p>
                        <p class="card-text"><strong>Code:</strong> <span th:text="${classes.code}"></span></p>
                        <p class="card-text"><strong>Created Date:</strong> <span th:text="${classes.createdDate}"></span></p>
                        <p class="card-text"><strong>Created By:</strong> <span th:text="${classes.createdBy}"></span></p>
                        <p class="card-text"><strong>Duration:</strong> <span th:text="${classes.duration}"></span></p>
                        <p class="card-text"><strong>Status:</strong> <span th:text="${classes.status}"></span></p>
                        <p class="card-text"><strong>Location:</strong> <span th:text="${classes.location}"></span></p>
                        <p class="card-text"><strong>FSU:</strong> <span th:text="${classes.fsu}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" th:insert="footer.html"></div>
</body>
</html>
