<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h2 style="color:red;font-weight: bold">To run this Demo, please log in with an admin account</h2>
    <form method="POST" th:object="${loginForm}" th:action="@{login}" class="form-signin">
        <h2 class="form-heading">Log in</h2>

            <div class="form-group">
                <input th:field="*{username}" type="text" value="aumauduong"
                       class="form-control" placeholder="Username" autofocus/>
                <input
                        th:field="*{password}" type="password" value="aumauduong" class="form-control"
                        placeholder="Password"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Log
                    In
                </button>
                <h4 class="text-center">
                    <a th:href="@{register}">Create an account</a>
                </h4>
            </div>
    </form>
</div>
</body>
</html>